// primary color
$primary: #00697f;
$primary-light: #228499;
$primary-dark: #005466;

$secondary: #d05921;
$third: #10d180;
$danger: #ed3151;
$success: #74b50c;
$info: #018cb2;
$warning: #fbd330;
// light color
$light: #ffffff;
$light-muted: #f3f3f3;
$light-gray: #b4b4b4;
$medium-light-gray: #c4c4cf;
$dark-gray: #686868;

$dark: #1a1a1a;
$body-color: $dark;
$black: #000000;

//table
$table-gray: #ccdddf;
$table-orange: #f1cdbc;

// nav text
$nav-link: #9b9b9b;

// governance-team
$border-team: #e6e6e6;
$bg-item-team: #d45214;

// governance-description
$border-description: #828282;
